# Elastic APM Agent Configuration

# The full URL of your Elastic APM server.
# Example: https://your-deployment-id.apm.us-central1.gcp.cloud.es.io
ELASTIC_APM_SERVER_URL=XX

# The API key for authenticating with your Elastic APM server.
ELASTIC_APM_API_KEY=XX
