# OpenTelemetry Configuration for Elastic

# The full endpoint URL for your Elastic APM OTLP endpoint.
# Example: https://your-deployment-id.apm.us-central1.gcp.cloud.es.io
OTEL_EXPORTER_OTLP_ENDPOINT=XX

# The secret token for authenticating with your Elastic APM server.
# This should be formatted in the following way Authorization=Bearer%20YOUR_TOKEN , substituting the whitespace by %20
OTEL_EXPORTER_OTLP_HEADERS=XX

# A comma-separated list of key=value pairs to be attached as resource attributes.
# These attributes help you identify and filter your telemetry data in Elastic.
OTEL_RESOURCE_ATTRIBUTES="service.name=otel_test_service,service.version=1,deployment.environment=dev"

# Enable automatic instrumentation for the logging library.
OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true

# Enable automatic injection of trace context into logs.
OTEL_PYTHON_LOG_CORRELATION=true

# Specify that metrics should be exported via OTLP.
OTEL_METRICS_EXPORTER="otlp"

# Enable the collection of system and process metrics (CPU, memory, etc.).
ELASTIC_OTEL_SYSTEM_METRICS_ENABLED=true

# Set the interval for exporting metrics to 5000 milliseconds (5 seconds).
OTEL_METRIC_EXPORT_INTERVAL=5000

# Specify that logs should be exported via OTLP and also printed to the console.
OTEL_LOGS_EXPORTER="otlp,console"
